*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px; /* Añade padding al final del body para compensar el espacio ocupado por el footer */
}

article {
    /*Prueba*/
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 20px 20px 0px 20px;
    padding-bottom: 20px; /* Añade espacio al final del artículo para que el footer no lo tape */
}

header{
    background-color: blue;
    border: 1px solid #000;
    padding: 20px 0;
}

#mainText {
    flex: 1;
    margin-bottom: 70px; /* Igual a la altura del footer para dejar espacio suficiente */
}

#titulo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

#opcionesHeader{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
}

#opcionesHeader li{
    width: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 1s;
    height: 50px;
}

#opcionesHeader li:hover{
    background: rgb(99, 88, 247);
    width: 20%;
    cursor: pointer;

    transition: transform 1s, width 1s;
}

#opcionesHeader li a{
    color: white;
    
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 130px; /* Altura deseada para el footer */
    background: #2a3197;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer section {
    padding: 10px; /* Añade espacio entre la línea y el contenido */
    display: flex; /* Asegura que los elementos internos se alineen correctamente */
    align-items: center; /* Centra verticalmente los elementos internos */
}

.footer-line {
    width: 1px; /* Ancho fijo para la línea vertical */
    height: 80%; /* Altura de la línea */
    background-color: white; /* Color de la línea */
    margin: 0 10px; /* Espacio entre la línea y los elementos del footer */
}

footer section img{
    height: 100px;
}

@media screen and (max-width: 600px) {
    left, .main, .right {
        width: 100%; /* The width is 100%, when the viewport is 600px or smaller */        
    }
    header{
        background-color: red;
    }
    #opcionesHeader{
        flex-direction: column;
    }
    footer {
        height: auto; /* Cambiado a altura automática para permitir que el contenido se expanda */
        flex-direction: column;
    }
    .footer-line {
        width: 95%; /* Ancho fijo para la línea vertical */
        height: 1px; /* Altura de la línea */
    }
    #mainText {
        margin-bottom: 180px; /* Igual a la altura del footer para dejar espacio suficiente */
    }
}